.about-page{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(to left,lime,white);
    height: 90vh;
}
.end{
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
    margin: 10px;
    background:linear-gradient(to right,green,lime);
    color: white;
    letter-spacing: 3px;
}
@media(max-width:500px){
    .end{
        display:none;
    }
}