.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 65px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.glam img{
   width: 75px;
   border-radius: 50%;
   padding: 10px;
   animation: swing 2s infinite;
   transition:all 1s;
}

@keyframes swing{
  0% {
    transform: rotate(0deg);
    transform: scale(1.1);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }

}
.nav-links{
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;

}
.nav-links li a{
    color: white;
    transition: 0.3s;
    text-decoration: none;
    font-size: 24px;
    padding: 15px;
}
.nav-links li a:hover{
    color: #201e1e;
    background-color:  rgb(78, 231, 78) ;
}
.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
      padding: 10px;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 68px;
      right: 0;
      left: 2px;
      background-color: #333;
      width: 94%;
      padding: 25px;
    }
  
    .nav-links.open {
      display: flex;
    }
  }
  
